################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.gitignore
/CatalogService.Api/obj
/GlobalResponse.Shared/bin/Debug/net8.0
/GlobalResponse.Shared/obj
/CatalogService.Api/bin/Debug/net8.0
